/* footer */
body{
        .store-footer{
            border-radius:20% 20% 0% 0% / 25% 25% 0% 0% ;
            overflow: hidden;
            background-color: var(--color-back-footer);
            .store-footer__inner{
                border-color: var(--stroke-light);
                background-color: var(--color-back-footer);
                .footer-div{
                    display: flex;
                    .footer-item{
                        width: 25%;
                        padding-left: 15px;
                        h3,h4{
                            color: var(--color-main-text-footer);
                        }
                        .description-p{
                            color: var(--color-text-footer);
                        }
                        .logo-footer{
                            margin-bottom: 10px;
                            width: auto;
                            display: inline-block;
                                img{
                                    max-width: 140px;
                                    max-height: 85px;
                                    -o-object-fit: contain;
                                    object-fit: contain; 
                                }
                        }
                        
                        .s-menu-footer-list{
                            display: flex;
                            gap: 10px;
                            flex-direction: column;
                            a{
                                margin-bottom: 0;
                                display: flex;
                                font-size: 16px;
                                color: var(--color-text-footer);
                            }
                            a:before{
                                content:"\e970";
                                font-family: "sallaicons" !important;
                                line-height: 100%;
                                color: var(--color-icon-footer);
                                

                            }
                            a:hover{
                                color: var(--color-hover-footer);
                            }
                            
                        }
                        salla-contacts{
                            .s-contacts-list{
                                gap: 10px;
                                .s-contacts-item{
                                    .s-contacts-icon{
                                        svg{
                                            fill:var(--color-text-footer);
                                        }
                                    }
                                    .unicode{
                                        color: var(--color-text-footer);
                                    }
                                    &:hover{
                                        color: var(--color-hover-footer);
                                        .s-contacts-icon{
                                            svg{
                                                fill:var(--color-hover-footer);
                                            }
                                        }
                                        .unicode{
                                            color:var(--color-hover-footer)
                                        }
                                    }
                                }
                            }
                        }
                        salla-social{
                            .s-social-list{
                                flex-wrap: wrap;
                                gap: 5px;
                                .s-social-link{
                                    a{
                                        width: 40px;
                                        height: 40px;
                                        
                                        .s-social-icon{
                                            border-color: var(--color-border-footer);
                                            svg{
                                                fill:var(--color-icon-footer);
                                                height: 20px;
                                                width: 20px;
                                            }
                                        }
                                        &:hover{
                                            .s-social-icon{
                                                svg{
                                                    fill:var(--color-hover-footer);
                                                    
                                                }
                                            }  
                                        }
                                    }
                                }
                            }
                        }
                        
                        
                        .contact-social{
                            padding-top: 0px;
                            margin-top: 0px;
                            border: 0;
                        }
                    }
                    .footer-item:last-of-type{
                        padding-left: 0px;

                    }
                }
            }
            .copyright{
                background-color: var(--color-back-footer);
                .copyright-text{
                    p{
                        color: var(--color-text-footer);
                        a{
                            color: var(--color-main-text-footer);
                            &:hover{
                                color: var(--color-hover-footer);
                            }
                        }
                    }
                }
            }
            
        }
}
body.dark-mode{
        .store-footer{
            background-color: var(--color-dark-back-footer);
            .store-footer__inner{
                border-color: var(--stroke-dark);
                background-color: var(--color-dark-back-footer);
                .footer-div{
                    display: flex;
                    .footer-item{
                        h3,h4{
                            color: var(--color-dark-main-text-footer);
                        }
                        .description-p{
                            color: var(--color-dark-text-footer);
                        }
                        .s-menu-footer-list{
                            a{
                                color: var(--color-dark-text-footer);
                            }
                            a:before{
                                color: var(--color-dark-icon-footer);
                            }
                            a:hover{
                                color: var(--color-dark-hover-footer);
                            }
                            
                        }
                        salla-contacts{
                            .s-contacts-list{
                                .s-contacts-item{
                                    .s-contacts-icon{
                                        svg{
                                            fill:var(--color-dark-text-footer);
                                        }
                                    }
                                    .unicode{
                                        color: var(--color-dark-text-footer);
                                    }
                                    &:hover{
                                        color: var(--color-dark-hover-footer);
                                        .s-contacts-icon{
                                            svg{
                                                fill:var(--color-dark-hover-footer);
                                            }
                                        }
                                        .unicode{
                                            color:var(--color-dark-hover-footer)
                                        }
                                    }
                                }
                            }
                        }
                        salla-social{
                            .s-social-list{
                                .s-social-link{
                                    a{
                                        .s-social-icon{
                                            border-color: var(--color-dark-border-footer);
                                            svg{
                                                fill:var(--color-dark-icon-footer);
                                                
                                            }
                                        }
                                        &:hover{
                                            .s-social-icon{
                                                svg{
                                                    fill:var(--color-dark-hover-footer);
                                                    
                                                }
                                            }  
                                        }
                                    }
                                }
                            }
                        }
                        
                        
                        
                    }
                   
                }
            }
            .copyright{
                background-color: var(--color-dark-back-footer);
                .copyright-text{
                    p{
                        color: var(--color-dark-text-footer);
                        a{
                            color: var(--color-dark-main-text-footer);
                            &:hover{
                                color: var(--color-dark-hover-footer);
                            }
                        }
                    }
                }
            }
            
        } 
}







/*768*/
 @media (max-width: 768px){
    body{
        .store-footer{
            border-radius: 15% 15% 0% 0% / 15% 15% 0% 0%;
            .store-footer__inner{
                .footer-div{
                    flex-wrap: wrap;
                    row-gap: 20px;
                    .footer-item{
                        width: 50%;
                        padding-left: 12px;
                    }
                }
            }
        }
    }
}


 @media (max-width: 450px){
        body{
                .store-footer{
                    border-radius: 10% 10% 0% 0% / 10% 10% 0% 0%;
                    .store-footer__inner{
                        .footer-div{
                            flex-wrap: wrap;
                            row-gap: 20px;
                            .footer-item{
                                width: 100%;
                                padding-left: 12px;
                                salla-apps-icons{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
    
}