.container-sec {
  padding-right: var(--padding);
  padding-left: var(--padding);
  width: 100%;
}

:root {
  --padding: 100px;
  --white:#fff;
  --text-color:#212121;
  --text-24px:24px;
  
}
.pattern{
            background-position: center;
            background-size: 30%;
            background-repeat: repeat;
}
.carousel-slider .swiper:where([dir="rtl"], [dir="rtl"] *){
  padding-left: 0;
}
@keyframes scroll-x {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(100% - 1rem));
  }
}
@keyframes scroll-y {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - 25px));
    -webkit-transform: translateY(calc(-100% - 25px));
    -moz-transform: translateY(calc(-100% - 25px));
    -ms-transform: translateY(calc(-100% - 25px));
    -o-transform: translateY(calc(-100% - 25px));
}
}
@keyframes shine {
    to {
        left: 125%
    }
}

.btn-theme {
    width: fit-content;
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 8px;
    color: var(--color-primary-reverse);
    text-align: center;
}
.home.no-margin section:first-of-type {
    margin-top:0 !important;
 }
.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-head {
  .section-title {
    color: #000;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    width: fit-content;
    position: relative;
    min-width: max-content;
  }
}
.text-parent {
    &.top-right {
        top: 0;
        right: 0;
        align-items: flex-start;
        text-align: start;
    }
  
    &.bottom-right {
        bottom: 0;
        right: 0;
        align-items: flex-start;
        text-align: start;
    }
    &.center-right {
        top: 0;
        bottom: 0;
        right: 0;
        align-items: flex-start;
        text-align: start;
    } 
    &.top-left {
        top: 0;
        left: 0;
        align-items: flex-end;
        text-align: end;
    }

    &.bottom-left {
        bottom: 0;
        left: 0;
        align-items: flex-end;
        text-align: end;
    }
    &.center-left {
        top: 0;
        bottom: 0;
        left: 0;
        align-items: flex-end;
        text-align: end;
    }
    &.top-center {
        top: 0;
        align-items: center;
        text-align: center;
    }

    &.bottom-center {
        bottom: 0;
        align-items: center;
        text-align: center;
    }
    &.center {
        inset: 0;
        align-items: center;
        text-align: center;
    }

  }

@media (max-width:1200px) {
  :root{
    --text-24px:22px;
  }
}

@media (max-width:992px) {
  :root{
    --text-24px:20px;
  }
  .section-head {
    .section-title {
      font-size: 22px;
    }
  }
}
@media (max-width:768px) {
  :root{
    --text-24:18px;
  }
  .section-head {
    .section-title {
      font-size: 20px;
    }
  }
}